.mainscreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #dbeff9;
    
        
      
      
}
.imgDiv{
    margin-top: 10px;
}

.mainimg{
    width: 1024px;
    height: auto;
}

.info{
    display: flex;
    
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 10px;
    margin-top: 10px;
    
    background: linear-gradient(to right, #6dcbfa, #03618f);
    
    
    
}

.infoImg{
    width: 50%;
    
}

.infoImg img{
    width: 200px;
    height: auto;
}

.aboutImg{
    margin-top: 50px;
}

.infoTextLeft{
    width: 50%;
    margin-left: 20%; 
    
}
.infoTextRight{
    width: 50%;
    margin-right: 20%; 
}

.linkdiv{
    width: 100px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 25%;
    background-color: #122c39;
    border-radius: 10px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
}

.linkdiv:hover{
    background: linear-gradient(to right, #08a6f5, #03618f);
}

.link{
    text-decoration: none;
}