.router{
    display: flex; 
    flex-direction: row;
    align-items: center; 
    background-color: #03496c;
    color: white;
  }
  
  .logodiv{
    width: 20%;
    display: flex;
  }
  
  .navbar{
    width: 60%;
  }
  
  .logo{
    height: 65px;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .logoName{
    margin-left: 10px;
  }
  
  
  
  .navbar-list{
    list-style-type: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-list li{
    width: 100px;
    padding: 5px;
    margin: 0 5px;
    background-color: #122c39;
    border-radius: 10px;
    text-align: center;
    list-style-type: none ;
    
  }
  
  .navbar-list li:hover{
    color: #dbeff9;
    background: linear-gradient(to right, #08a6f5, #03618f); 
  }
  
  .link{
    text-decoration: none;
    color: white;
  }

  @media only screen and (max-width: 966px) {
    .link {
      font-size: 12px;
      white-space: nowrap;
    }
  }
  
  .user{
    width: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .sign{
    list-style-type: none;
    list-style: none;
    display: flex;
    justify-content:end;
  }
  
  .routes{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #09577d;
    
  }
  
  .route{
    text-align: center;
    padding: 0;
    width: 1024px;
    background-color: #dbeff9;
  }
  
  /* Yeni Eklentiler */
  .navbarMobileEngine {
    display: grid;
  }

  .navbarMobile{
    background-color: #03496c;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  .navbarMobile .logodiv{
    display: flex;
  }

  .navbarMobile .logo {
    height: 50px;
  }
  .navbarMobile .logoName {
    color: white;
    padding-left: 5px;
    align-items: center;
    font-size: 20px;
    display: table-cell;
    padding: 10px;
  }

  .navbarMobile .buttonDiv{
    margin-right: 20px;
  }

  .navbarMobile .windowButton {
    width: 50px;
    height: 50px;
    background-color: #03496c;
    border: none; /* kenarlık yok */
    text-align: center; /* metin hizalama */
    text-decoration: none; /* alt çizgi yok */
    display: inline-block; /* blok element */
    cursor: pointer; /* imleç türü */
  }

  .navbarMobile .windowButton .buttonIcon {
    width: 40px;
  }

  .modal {
    background-color: #09577d;
    padding: 0;
    margin: 0;
  }
  
  .modal .modal-list{
    display: contents;
    list-style-type: none;
    list-style: none;
  }

  .modal-list li{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    
  }
  
  .modal-link{
    text-decoration: none;
    color: black;
  }

  .modal-user{
    text-align: center;
    justify-content: center;
    color: white;
  }

  
  
  
  