.router{
    display: flex; 
    flex-direction: row;
    align-items: center; 
    background-color: #03496c;
    color: white;
  }
  
  .logodiv{
    width: 20%;
    display: flex;
  }
  
  .navbar{
    width: 60%;
  }
  
  .logo{
    height: 65px;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .logoName{
    margin-left: 10px;
  }
  
  ul{
    list-style-type: none;
  }
  
  .navbar-list{
    list-style-type: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  li{
    width: 100px;
    padding: 5px;
    margin: 0 5px;
    background-color: #122c39;
    border-radius: 10px;
    text-align: center;
    list-style-type: none ;
    
  }
  
  li:hover{
    color: #dbeff9;
    background: linear-gradient(to right, #08a6f5, #03618f);
    
  }
  
  .link{
    text-decoration: none;
    color: white;
  }

  @media only screen and (max-width: 966px) {
    .link {
      font-size: 12px;
      white-space: nowrap;
    }
  }
  
  .user{
    width: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .sign{
    list-style-type: none;
    list-style: none;
    display: flex;
    justify-content:end;
  }
  
  .routes{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #09577d;
    
  }
  
  .route{
    text-align: center;
    padding: 0;
    width: 1024px;
    background-color: #dbeff9;
  }
  
  
  
  
  
  
  
  